.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  flex-shrink: 0;
  width: 875px;
}

.pagination {
  grid-column: 1/4;
}

.emptyPlaceholder {
  font-size: 20px;
  opacity: 0.75;
}

@media only screen and (max-width: 1286px) {
  .root {
    width: 578px;
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 641px) {
  .root {
    width: 281px;
    grid-template-columns: repeat(1, 1fr);
  }

  .pagination {
    grid-column: 1/2;
  }
}
