.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #242525;
  padding: 32px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  width: 100%;
  max-width: 1377px;
}

.search {
  width: 280px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1377px;
}

.latestNews {
  margin-right: 24px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 1023px) {
  .content {
    justify-content: center;
  }

  .latestNews {
    display: none;
  }
}

@media only screen and (max-width: 765px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search {
    width: 100%;
    margin-top: 16px;
  }
}
